$white: #FFF;
$neutral: #777;

$red-primary: #CA5268;
$red-secondary: #5A081E;

$green-primary: #309D8F;
$green-secondary: #01464E;

$blue-primary: #2B61A0;
$blue-secondary: #150B48;

$violet-primary: #5F194C;
$violet-secondary: #39002A;